<!DOCTYPE html>
<html>
  <head>
    <title>2w.vc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#242424">

    <script src="//cdn.2w.vc/Jquery/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="app">
      <div id="info">
        <p id="title">2w.vc</p>
        <p id="description">noViceMin's Server</p>
      </div>
      <div id="content">
        <div id="mix">
          <p id="title">Connected</p>
          <div id="list">
            <% for(const domain of Object.keys(domains.connected)) { %>
              <a id="item" href="https://<%= domain %>" target="_blank">
                <p id="link"><%= domain %></p>
                <p id="name"><%= domains.connected[domain] %></p>
              </a>
            <% } %>
          </div>
        </div>
        <div id="mix">
          <p id="title">Owned Domains</p>
          <div id="list">
            <% for(const domain of domains.owned) { %>
              <a id="item"><%= domain %></a>
            <% } %>
          </div>
        </div>
        <div id="mix">
          <p id="title">External Domains</p>
          <div id="list">
            <% for(const domain of domains.external) { %>
              <a id="item"><%= domain %></a>
            <% } %>
          </div>
        </div>
        <p id="copyright">ⓒ 2023 isamin.kr. All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>